{% extends "layout/base.html" %}
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock extra_scripts %}
{% block hero %}
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-mobile is-offset-2-mobile is-4-tablet is-vcentered">
                    <figure class="image is-square has">
                        <img class="is-rounded" src="/images/{{ section.extra.profile }}">
                    </figure>
                </div>
                <div class="column is-10-mobile is-offset-1-mobile is-8-tablet  is-vcentered">
                    <div class="section">
                        <h1 class="title is-3 has-text-centered-mobile">{{ section.title }}</h1>
                        {% if section.extra.hero_subtitle%}
                        <h3 class="subtitle has-text-centered-mobile">{{ section.extra.hero_subtitle}}</h3>
                        {% endif %}
                        {% if section.extra.hero_info%}
                        <p class="has-text-centered-mobile">{{ section.extra.hero_info}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock hero %}
{% block content %}
<section class="section">
    <section class="container">
        <section class="columns is-centered">
            <section class="column is-full">
                <header class="content has-text-centered">
                    <h2 class="title is-2 has-text-centered-mobile">
                        {% if section.extra.hero_title %}
                        {{ section.extra.hero_title}}
                        {% elif section.title %}
                        {{ section.title }}
                        {% elif config.title %}
                        {{ config.title }}
                        {% else %}
                        Hero Title
                        {% endif %}
                    </h2>
                </header>
                <article class="content">
                    {{ section.content | safe}}
                </article>
            </section>
        </section>
    </section>
</section>
<section class="section has-background-light">
    <section class="container">
        <section class="columns is-centered">
            <section class="column is-full">
                <header class="content">
                    <h2 class="title is-2">Latest blog</h2>
                </header>
                <article class="columns">
                    {% set blogs = get_section(path="blog/_index.md") %}
                    {% for blog in blogs.pages | slice(end=4) | reverse %}
                    <div class="column is-3-desktop is-6-tablet is-10-mobile is-offset-1-mobile">
                        <section class="content">
                            <h3 class="subtitle is-4"><a href="{{ blog.permalink }}">{{ blog.title | safe }}</a></h3>
                            <p>{{ blog.date | date(format="%d %B %Y")}}</p>
                        </section>
                    </div>
                    {% endfor %}
                </article>
            </section>
        </section>
    </section>
</section>
<section class="section">
    <section class="container">
        <section class="columns is-centered">
            <section class="column">
                <section id="references" class="content level">
                    {% set references = get_section(path="references/_index.md") %}
                    {% set reference = references.pages | first %}
                    <div class="references__quote level-item">
                        <blockquote cite="{%if reference.extra.linkedin %} {{ reference.extra.linkedin }} {% endif %}">
                            {{ reference.content | safe }}
                            <footer class="has-text-right">
                                —{{ reference.title }} <cite>{{ reference.extra.company }}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </section>
                <section class="level">
                    <div class="level-item content">
                        <div class="level-item">
                            <p><a href="{{ references.permalink }}">View references</a></p>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>
{% endblock content %}

