<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layout/head/required.html" %}
    {% block meta_title %}
    {% include "layout/head/meta_title.html" %}
    {% endblock meta_title %}
    {% block meta_url %}
    {% include "layout/head/meta_url.html" %}
    {% endblock %}
    {% block meta_description %}
    {% include "layout/head/meta_description.html" %}
    {% endblock %}
    {% block meta_image %}
    {% include "layout/head/meta_image.html" %}
    {% endblock meta_image %}
    {% block extra_meta %}
    {% endblock extra_meta %}
    {% block styles %}
    <link rel="stylesheet" href="{{ get_url(path='styles/styles.css') }}"/>
    {% endblock styles %}
    {% block scripts %}
    {% endblock scripts %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</head>

<body>
<header class="navbar is-black">
    {% include "layout/nav.html" %}
</header>
<main>
    {% block hero %}{% endblock hero %}
    {% block left_aside %}{% endblock left_side %}
    {% block content %}{% endblock content %}
    {% block right_aside %}{% endblock right_side %}
</main>
{% block inline_scripts %}
{% endblock inline_scripts %}
<pre class="has-background-info">
    {{ __tera_context }}
</pre>
{% include "layout/footer.html" %}
</body>
</html>