<footer class="footer">
    <div class="content has-text-centered">
        <ul>
            <li><i class="fab fa-linkedin fa-2x"></i></li>
        </ul>
    </div>
    <div class="content has-text-centered">
        <p class="is-medium has-text-centered">Copyright &copy;{{ config.build_timestamp | date(format="%Y")}} Nader
            Al-Shamma</p>
        <p class="is-small">Source code licensed <a href="https://opensource.org/licenses/MIT" target="_blank"
                                                    aria-label="Mit License">MIT.</a> <br>
            Website content licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"
                                        aria-label="Creative Commons License"> CC BY-NC-SA 4.0</a></p>
    </div>
</footer>