<nav class="container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="/">{NA}</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">Home</a>
<!--            <a class="navbar-item" href="{{ get_url(path='@/blog/_index.md') }}">-->
<!--                Blog-->
<!--            </a>-->
<!--            <a class="navbar-item" href="{{ get_url(path='@/about-me/_index.md') }}">-->
<!--                About Me-->
<!--            </a>-->
<!--            <a class="navbar-item" href="{{ get_url(path='@/about-me/talks/index.md') }}">-->
<!--                Talks-->
<!--            </a>-->
<!--            <a class="navbar-item" href="{{ get_url(path='@/about-me/publications/index.md') }}">-->
<!--                Publications-->
<!--            </a>-->
        </div>
    </div>
</nav>
